$primary: #3d95e0;
$green: #91d849;
$red: #f36161;
$divider-color: alpha-color(black, .15);
$item-hover-bg: alpha-color(black, .03);
$grey: #aaa;


// Box shadows
$card-shadow: 0 2px 2px 0 alpha-color(black, .16), 0 0 2px 0 alpha-color(black, .12);
$dropdown-shadow: 0px 2px 20px alpha-color(black, .2);

// Radius
$border-rad: 4px;

// Tooltip variables
$zindex-tooltip:              1070 !default;
$tooltip-font-size:           .8em !default;
$tooltip-max-width:           200px !default;
$tooltip-color:               white !default;
$tooltip-bg:                  black !default;
$tooltip-border-radius:        $border-rad !default;
$tooltip-opacity:             .9 !default;
$tooltip-padding-y:           .25rem !default;
$tooltip-padding-x:           .5rem !default;
$tooltip-margin:              0 !default;

$tooltip-arrow-width:         .8rem !default;
$tooltip-arrow-height:        .4rem !default;
$tooltip-arrow-color:         $tooltip-bg !default;