<div class="floating__wrapper">
  <div class="app__logo">
    <a routerLink='/'>MyStory</a>
  </div>
  <mat-card class="floating-box">
    <h1>Login</h1>
    <form (ngSubmit)="loginUser(loginForm)" #loginForm="ngForm">
      <div class="floating-box__row">
        <mat-form-field class="full-width">
          <input type="email" (ngModelChange)="dismissError()" matInput placeholder="Email" required ngModel name="email">
        </mat-form-field>
      </div>
      <div class="floating-box__row">
        <mat-form-field class="full-width">
          <input type="password" (ngModelChange)="dismissError()" matInput placeholder="Password" required ngModel name="password">
        </mat-form-field>
      </div>
      <div class="floating-box__row text-left">
        <input type="submit" class="btn btn--primary btn--full" value="Login">
      </div>
    </form>

    <div class="floating-box__row" *ngIf="errorFlag">
      <div class="floating-box__error">
        {{errorMsg}}
      </div>
    </div>
    <div class="floating-box__row floating-box__alt">
      <div>
        Don't have an account?
      </div>
      <a routerLink="/register">
        <input type="button" class="btn btn--transparent" value="Register now!">
      </a>
    </div>
  </mat-card>
</div>